:80 {
    @actuator path /actuator/*
    respond @actuator 404

    @direct_access {
        not header X-CloudFront-Secret {env.CLOUDFRONT_SECRET}
    }
    respond @direct_access 403

    reverse_proxy blog-api:8080
}
